.Datatable {
    text-align: center;
  }

  body{
    background-image:linear-gradient(to bottom right,#79509e,#d180c5);
  }
  .tablebox{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    background-color: rgba(240, 248, 255, 0.466);
    border-radius: 20px;
    height: 600px;
    width: 1000px;
    margin-top: 0%;
    padding-top: 50px;
    place-items: center;
  }
.tablebox>h1{
    color: rgb(58, 53, 53);
    font-size: 24px;
}
  #datas {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    width: 90%;
    position: relative;
    overflow-y: auto;
    height: 500px;
    margin-left: 5%;
  }

  #datas thead th {
    position: sticky;
    top: 0;
  }
  #datas tbody>tr {
    background-color: #f2f2f2;
  }
  
  #datas td, #datas th {
    border: 1px solid #ddd;
    padding: 8px;
  }
      
  #datas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #a04eb5;
    color: white;
  }